html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
}

.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
  height: 75vh;
}

.contacts {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  height: 60vh;
}

h3 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

.chat-input {
  /* position: relative; */
  overflow: hidden;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;

  line-height: 30px;
}

.message.from-me .id {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-me .message-body {
  background-color: #DCF8C6;
  color: black;

}

.message {
  margin-bottom: 20px;
}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}

.message-time {
  font-size: 0.9rem;
  color: #999;
  margin-top: 5px;
  /* padding-left: 50px; */
}

.id {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}
