.App {
  font-family: sans-serif;
  text-align: center;
}
.rectangle {
  width: 80px;
  height: 34px;
  background: rgb(196, 196, 87);
}
.inputBoxName {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-right: 5px;
  background: rgb(0, 158, 97);
}
.title {
  text-align: center;
  margin-bottom: 40px;
}
.redState {
  color: red;
  display: inline-block;
  width: 180px;
  height: 20px;
}

.greenState {
  color: green;
  display: inline-block;
  width: 180px;
  height: 20px;
}

.formDiv {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.regButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.landButtons{
  display: flex;
  justify-content: center;

}

.loginButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

