.App {
  font-family: sans-serif;
  text-align: center;
}
.overflow{
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  float: right;
}
.rectangle {
  width: 80px;
  height: 34px;
  background: rgb(196, 196, 87);
}
.picButton{
  background: transparent;
    border: none !important;
    font-size:0;
}
.inputBoxName {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-right: 5px;
  background: rgb(198, 216, 209);
}
.title {
  text-align: center;
  margin-bottom: 40px;
  shape-rendering:unset ;
}
.redState {
  color: red;
  display: inline-block;
  width: 180px;
  height: 20px;
}

.greenState {
  color: green;
  display: inline-block;
  width: 180px;
  height: 20px;
}
.registerLabel {
  margin-left: 14px;
  ;
  }



#formDiv {
 
  display: flex;
  justify-content:right;
  
  font-size: small;
}

#guideMessage {
  font-size:x-small;
  display: inline-block;
  width:70px;
  height: 20px;
}

.buttonWidth{
  margin-top: 5px;
  width: 80px;
}
.regButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.landButtons{
  display: flex;
  justify-content: center;

}

.loginButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  background-image: url(backround.jpg)  !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 470px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#chat{
  background-color: #b4a4ac98;
}

#addButton{
  /* font-size: large; */
  /* font-size: 30px; */
  padding-top: 0;
  padding-bottom: 0;
  font-size: 150%;
}

span{
  display: inline-block;
}

#userName{
  font-size: x-large;
}